<footer class="footer">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <h4>{{ gettext('Learn') }}</h4>
                <ul>
                    <li>
                        <a href="{{pathto('getting-started/what-is-nem')}}">{{ gettext('Getting Started') }}</a>
                    </li>
                    <li>
                        <a href="{{pathto('concepts/account')}}">{{ gettext('Built-in Features') }}</a>
                    </li>
                    <li>
                        <a href="{{pathto('concepts/cryptography')}}">{{ gettext('Protocol') }}</a>
                    </li>
                    <li>
                        <a href="{{pathto('guides/category')}}">{{ gettext('Guides') }}</a>
                    </li>
                    <li>
                        <a href="{{pathto('api')}}">{{ gettext('References') }}</a>
                    </li>
                    <li>
                        <a href="{{pathto('contribute/contributing')}}">{{ gettext('Contribute') }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h4>{{ gettext('References') }}</h4>
                <ul>
                    <li><a href="{{pathto('api')}}">{{ gettext('REST Gateway') }}</a></li>
                    <li><a href="{{pathto('server')}}">{{ gettext('Server') }}</a></li>
                    <li><a href="{{pathto('sdk')}}">{{ gettext('SDKs') }}</a></li>
                    <li><a href="{{pathto('cli')}}">{{ gettext('CLI') }}</a></li>
                    <li><a href="{{pathto('extensions')}}">{{ gettext('Extensions') }}</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h4>{{ gettext('Community') }}</h4>
                <ul>
                    <li>
                        <a href="https://join.slack.com/t/nem2/shared_invite/enQtMzY4MDc2NTg0ODgyLWZmZWRiMjViYTVhZjEzOTA0MzUyMTA1NTA5OWQ0MWUzNTA4NjM5OTJhOGViOTBhNjkxYWVhMWRiZDRkOTE0YmU">
                            <i class="fab fa-slack"></i> <span> {{ gettext('Join #general discussion') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/tags/nem/">
                            <i class="fab fa-stack-overflow"></i>
                            <span> {{ gettext('Ask development questions') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/NEMofficial">
                            <i class="fab fa-twitter"></i>
                            <span> {{ gettext('Follow the updates') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/nemtech">
                            <i class="fab fa-github"></i>
                            <span> {{ gettext('Explore our Github') }}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <p class="text-center top-gap">
            {% if show_copyright %}
            {% if hasdoc('copyright') %}
            {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
            {% else %}
            {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
            {% endif %}
            {% endif %}
            {% if last_updated %}
            {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
            {% endif %}
        </p>
    </div>
</footer>
