{% if pagename != 'index' %}
<ul class="list-inline">
    <li class="{% if 'getting-started' in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/getting-started">{% trans %}START{% endtrans %}</a>
    </li>
    <li class="{% if 'concepts/' in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/concepts/overview.html">{% trans %}TECHNOLOGY{% endtrans %}</a>
    </li>
    <li class="{% if 'guides/' in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/guides/index.html">{% trans %}GUIDES{% endtrans %}</a>
    </li>
    <li class="{% if 'vision' in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/handbook/vision.html">{% trans %}VISION{% endtrans %}</a>
    </li>
    <li class="{% if 'contribute/' in pagename or'guidelines/' in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/contribute/index.html">{% trans %}CONTRIBUTE{% endtrans %}</a>
    </li>
    <li class="{% if 'handbook/' in pagename and 'vision' not in pagename %}active{% endif %}">
        <a href="{% if language %}/{{language}}{% endif %}/handbook/index.html">{% trans %}HANDBOOK{% endtrans %}</a>
    </li>
</ul>
{% endif %}