<ul class="list-inline">
    <li>
        <a href="{% if language %}/{{language}}{% endif %}/getting-started/what-is-symbol.html" class="{% if 'getting-started' in pagename or 'index' == pagename %}active{% endif %}">{% trans %}Getting Started{% endtrans %}</a>
    </li>
    <li>
        <a href="{% if language %}/{{language}}{% endif %}/concepts/overview.html" class="{% if 'concepts' in pagename or 'serialization' in pagename %}active{% endif %}">{% trans %}Features{% endtrans %}</a>
    </li>
    <li>
        <a href="{% if language %}/{{language}}{% endif %}/guides/category.html" class="{% if 'guides' in pagename %}active{% endif %}">{% trans %}Guides{% endtrans %}</a>
    </li>
    <li>
        <a href="{% if language %}/{{language}}{% endif %}/references/overview.html" class="{% if 'reference' in pagename or ('/' not in pagename and pagename != 'index') %}active{% endif %}">{% trans %}Tools{% endtrans %}</a>
    </li>
    <li>
        <a href="{% if language %}/{{language}}{% endif %}/contribute/community.html" class="{% if 'contribute' in pagename or'guidelines' in pagename %}active{% endif %}">{% trans %}Help{% endtrans %}</a>
    </li>
</ul>