<ul class="list-inline">
    <li>
        <a href="/getting-started/what-is-symbol.html" class="{% if 'getting-started' in pagename or 'index' == pagename %}active{%endif%}">{% trans %}Getting Started{% endtrans %}</a>
    </li>
    <li>
        <a href="/concepts/overview.html" class="{% if 'concepts' in pagename or 'serialization' in pagename %}active{%endif%}">{% trans %}Features{% endtrans %}</a>
    </li>
    <li>
        <a href="/guides/category.html" class="{% if 'guides' in pagename %}active{%endif%}">{% trans %}Guides{% endtrans %}</a>
    </li>
    <li>
        <a href="/references/overview.html" class="{% if 'reference' in pagename or ('/' not in pagename and pagename != 'index') %}active{%endif%}">{% trans %}Tools{% endtrans %}</a>
    </li>
    <li>
        <a href="/contribute/community.html" class="{% if 'community' in pagename or'guidelines' in pagename %} active{%endif%}">{% trans %}Contribute{% endtrans %}</a>
    </li>
</ul>