ablog==0.9.4
alabaster==0.7.8
Babel==2.3.4
docutils==0.12
imagesize==0.7.1
Jinja2==2.11.3
MarkupSafe==0.23
PyGithub==1.46
Pygments==2.7.4
pytz==2016.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-autobuild==0.7.1
sphinxcontrib-examplecode==0.1.0
sphinx_bootstrap_theme==0.6.5
sphinx-intl==0.9.11
sphinx_tabs==1.1.10
sphinxcontrib-viewsource==0.1.3
sphinxcontrib.mermaid==0.3.1
m2r2==0.3.1