ablog==0.11.4
alabaster==0.7.13
Babel==2.12.1
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.2
PyGithub==1.58.2
Pygments==2.15.1
pytz==2023.3
six==1.16.0
snowballstemmer==2.2.0
docutils==0.18
Sphinx==5.2.0.post0
sphinx-autobuild==2021.3.14
sphinx_bootstrap_theme==0.8.1
sphinx-intl==2.0.1
sphinx_tabs==3.4.1
sphinxcontrib-viewsource==0.1.4
sphinxcontrib.mermaid==0.9.2
sphinxcontrib.ghcontributors==0.2.3
m2r2==0.3.3.post2
GitPython==3.1.31
mistune==2.0.5
