ablog==0.11.10
alabaster==1.0.0
Babel==2.15.0
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
PyGithub==2.3.0
Pygments==2.18.0
pytz==2024.1
six==1.16.0
snowballstemmer==2.2.0
docutils==0.21.2
Sphinx==8.0.2
sphinx-autobuild==2024.4.16
sphinx_bootstrap_theme==0.8.1
sphinx-intl==2.2.0
sphinx_tabs==3.4.1
sphinxcontrib-viewsource==0.1.4
sphinxcontrib.mermaid==0.9.2
sphinxcontrib.ghcontributors==0.2.3
m2r2==0.3.3.post2
GitPython==3.1.43
mistune==3.0.2
