{%- extends "page.html" %}
{% block body %}
<h1> {{ gettext('Guides') }}</h1>
{% for collection in catalog %}
{% if collection %}
<div class="section">
    <h2>{{ collection }}</h2>
    <ul class="postlist-style-circle postlist">
        {% for post in collection|sort(attribute='date') %}
        <li>
            <p class="first">
                <a class="reference internal" href="{{ pathto(post.docname) }}{{ anchor(post) }}">{{ post.title }}</a>
            </p>
            <p>{{post.excerpt[0]}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}
{% endblock %}
