{% if ablog.category %}
<p class="caption sidebar-current-ul"><span class="caption-text">{{ gettext('Guides') }}</span></p>
<ul class="ablog-cloud current">
    {% for coll in ablog.category %}
    {% if coll %}
    {% if pathto(coll.docname) == '#' %}
    <li class="ablog-cloud toctree-l1 current">
        <a href="{{ pathto(coll.docname) }}" class="reference internal nav-header current">
    {% else %}
    <li class="ablog-cloud toctree-l1">
        <a href="{{ pathto(coll.docname) }}" class="reference internal nav-header">
    {% endif %}
    {{ coll }} ({{ coll|length }})
    </a></li>
    {% endif %}
    {% endfor %}
</ul>
<a href="{{pathto('getting-started/training')}}"><p class="caption"><span class="caption-text"><i class="fas fa-chalkboard-teacher"></i> {{ gettext('Courses') }}</span></p></a>
{% endif %}