{% extends "layout.html" %}
{% set title = _('Endpoints') %}

{% block extrahead %}
{{ super() }}
<link href="_static/css/api.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/redoc@v2.0.0-rc.8-1/bundles/redoc.standalone.js"></script>
{% endblock %}

{% block body %}

<div id="redoc"></div>
<script>
    Redoc.init('_downloads/swagger.yaml', {
        "scrollYOffset": '30',
        "suppressWarnings": true,
        "nativeScrollbars": true,
        "disableSearch": true,
        "theme": {
            "breakpoints": {
                "medium": "4500px",
            },
            "spacing": {
                "sectionVertical": 15
            }
        }
    }, document.getElementById('redoc'));
</script>
{% endblock %}
