{% extends "!layout.html" %}

{% block head %}
{{ super() }}

{% block extrahead %}
{{ super() }}

{% endblock %}
{% endblock %}

{%- block footer %}
<footer class="footer">
    <div class="container">
        <div class="row social">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="https://join.slack.com/t/nem2/shared_invite/enQtMzY4MDc2NTg0ODgyLTFhZjgxM2NhYTQ1MTY1Mjk0ZDE2ZTJlYzUxYWYxYmJlYjAyY2EwNGM5NzgxMjM4MGEzMDc5ZDIwYTgzZjgyODM">
                            <i class="fab fa-slack"></i>
                            <span >Join #general discussion</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/tags/nem/">
                            <i class="fab fa-stack-overflow"></i>
                            <span>Ask development questions</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/nemtechdev">
                            <i class="fab fa-twitter"></i>
                            <span>Follow the dev updates</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/nemtech">
                            <i class="fab fa-github"></i>
                            <span>Explore Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <h4>Built-in Features</h4>

                <ul>
                    <li><a href="{{pathto('concepts/account')}}">Account</a></li>
                    <li><a href="{{pathto('concepts/multisig-account')}}">Multisig Account</a></li>
                    <li><a href="{{pathto('concepts/multi-level-multisig-account')}}">Multilevel Multisig Account</a></li>
                    <li><a href="{{pathto('concepts/namespace')}}">Namespace</a></li>
                    <li><a href="{{pathto('concepts/mosaic')}}">Mosaic</a></li>
                    <li><a href="{{pathto('concepts/transfer-transaction')}}">Transfer Transaction</a></li>
                    <li><a href="{{pathto('concepts/aggregate-transaction')}}">Aggregate Transaction</a></li>
                    <li><a href="{{pathto('concepts/cross-chain-swaps')}}">Cross-Chain Swaps</a></li>
                </ul>

            </div>

            <div class="col-sm-4">
                <h4>Guides</h4>

                <ul>

                    <li><a href="{{pathto('guides/account')}}">Interacting with accounts</a></li>
                    <li><a href="{{pathto('guides/blockchain')}}">Monitoring blockchain</a></li>
                    <li><a href="{{pathto('guides/namespace')}}">Registering namespaces</a></li>
                    <li><a href="{{pathto('guides/mosaic')}}">Interacting with mosaics</a></li>
                    <li><a href="{{pathto('guides/transaction')}}">Sending transactions</a></li>
                    <li><a href="{{pathto('guides/running-a-node')}}">Running a node</a></li>
                    <li><a href="{{pathto('guides/workshops')}}">Self-paced training</a></li>
                </ul>

            </div>

            <div class="col-sm-4">
                <h4>References</h4>

                <ul>
                    <li><a href="{{pathto('api/requests')}}">REST API</a></li>
                    <li><a href="{{pathto('sdk/languages')}}">SDKs</a></li>
                    <li><a href="{{pathto('sdk/libraries')}}">Libraries</a></li>
                    <li><a href="{{pathto('cli/overview')}}">CLI</a></li>
                </ul>
                <div id="language">
                    <i class="fas fa-globe"></i>
                    <select>
                        <option id="english" value="en">English</option>
                        <option id="japanese" value="ja">Japanese</option>
                    </select>
                </div>

            </div>

        </div>

        <p class="text-center top-gap">
            {%- if show_copyright %}
            {%- if hasdoc('copyright') %}
            {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
            {%- else %}
            {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
            {%- endif %}
            {%- endif %}
            {%- if last_updated %}
            {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
            {%- endif %}
        </p>
    </div>
</footer>
{% endblock %}


