<div class="{{ theme_navbar_class }} navbar-default header {% if theme_navbar_fixed_top|tobool -%} navbar-fixed-top{%- endif -%}"
     id="navbar">
    <div class="container navbar-main">
        <a href="{{ pathto('index') }}" class="navbar-brand">
            <img alt="Symbol logo" src="{{ pathto('_static/' + logo, 1) }}" height="48">
        </a>
        <div class="navbar-right">
            {% include "include/navbar-right.html" %}
        </div>
        {% with search_id="desktop" %}
        {% include "include/searchbox.html" %}
        {% endwith %}
        {% include "include/language.html" %}
    </div>
</div>
