<div class="{{ theme_navbar_class }} navbar-default gradient {% if theme_navbar_fixed_top|tobool -%} navbar-fixed-top{%- endif -%}"
     id="navbar">
    <div class="container navbar-top">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="navbar-brand" href="{{ pathto('index') }}">
                    {% block sidebarlogo %}
                    {% if logo %}<span><img alt="NEM logo" src="{{ pathto('_static/' + logo, 1) }}"></span>{% endif %}
                    {% endblock %}
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                {% with search_id="desktop" %}
                {% include "include/searchbox.html" %}
                {% endwith %}
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                {% include "include/social.html" %}
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                {% include "include/language.html" %}
            </div>
        </div>
    </div>
    <div class="container navbar-main">
        <div class="row">
            <div class="col-md-12 sidebar-xs visible-xs visible-sm">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Navigation') }} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu globaltoc">{{ toctree(maxdepth=2) }}</ul>
                </div>
            </div>
        </div>
    </div>
</div>
