/* This css file rewrites #redoc css template */

body{
    overflow-x: unset;
    position: initial;
    margin: 0;
    padding: 0;
}

#redoc * {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

#redoc h1,
#redoc h2,
#redoc h3 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif !important  ;
    font-weight: 300 !important;
    line-height: 1.1;
    color: #333 !important;
}

#redoc h1{
    font-size: 39px !important;
}
#redoc h2{
    font-size: 30px !important;
}
#redoc h3{
    font-size: 20px !important;
}
#redoc a{
    color: #2780e3 !important;
}
#redoc a:hover{
    text-decoration: underline;
}

/* Layout */

#redoc .background{
    display: none;
}

#redoc blockquote{
    background: rgba(55, 167, 219, 1) !important;
    color: #fff !important;
    padding: 10px !important;
    margin: 20px 0px 20px 0px !important;
    border: 0px !important;
}

#redoc pre{
    color: #fff;
}

#redoc ul li{
    text-indent: 0 !important;
}
#redoc ul li::before{
    display: none;
}

/* Sidebar */

#redoc .menu-content {
    background-color: #f7f5fa !important;
    text-shadow: 0 1px 0 #fff;
    border-radius: 5px;
}

#redoc .menu-content ul li {
    padding-left: 0 !important;
}

#redoc .menu-content .operation-type{
    font-size: 8px !important;
}

#redoc .menu-content label.active,
#redoc .menu-content label.active:hover,
#redoc .menu-content label:hover {
    color: #333 !important;
    background-color: #e5e3e9 !important;
}

#redoc .menu-content label.-depth1.active > span,
#redoc .menu-content label.-depth1:hover > span {
    color: #333 !important;
    font-weight: bold !important;
}

/* Content*/

#redoc .api-content{
    margin-top: 101px;
}

@media screen and (max-width: 800px){

    .content{
        padding-left: 0px;
        padding-right: 0px;
    }
}