/* This css file rewrites #redoc css template */

body {
    overflow-x: unset;
    position: initial;
    margin: 0;
    padding: 0;
}

#redoc * {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
}

#redoc h1,
#redoc h2,
#redoc h3 {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif !important;
    font-weight: 300 !important;
    line-height: 1.1;
    color: #333 !important;
}

#redoc h1 {
    font-size: 39px !important;
}

#redoc h2 {
    font-size: 30px !important;
}

#redoc h3 {
    font-size: 20px !important;
}

#redoc a {
    color: #2780e3 !important;
}

#redoc a:hover {
    text-decoration: underline;
}

/* Layout */

#redoc .background {
    display: none;
}

#redoc blockquote {
    background: rgba(55, 167, 219, 1) !important;
    color: #fff !important;
    padding: 10px !important;
    margin: 20px 0px 20px 0px !important;
    border: 0px !important;
}

#redoc pre {
    color: #fff;
}

#redoc ul {
    padding-left: 15px;
    list-style: initial;
}

#redoc ul li {
    text-indent: 0 !important;
}

#redoc ul li::before {
    display: none;
}

/* Loader */
#redoc > div:not(.redoc-wrap) {
    padding: 100px 0px 100px 0px;
}

/* Sidebar */
#redoc .menu-content {
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}

#redoc .menu-content ul li {
    padding: 0;
}

#redoc .menu-content .operation-type {
    font-size: 8px !important;
    text-shadow: none;
}

#redoc .menu-content label.active,
#redoc .menu-content label.active:hover,
#redoc .menu-content label:hover {
    background-color: transparent;
    color: #333;
}

#redoc .menu-content li li label:hover,
#redoc .menu-content li li label.active {
    text-decoration: none;
    color: #2780e3 !important;
}

/* Content*/
@media screen and (max-width: 800px) {

    .content {
        padding-left: 0px;
        padding-right: 0px;
    }

    #redoc > div:not(.redoc-wrap) {
        padding: 40px 0px 40px 0px;
    }

    #redoc .menu-content{
        height: calc(100vh - 64px) !important;
        top:  64px !important;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
}
