/* General */
html {
    overflow-x: hidden;
    height: 100%;
}

body {
    padding-top: 0;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    font-size: 16px;
    font-family: "Roboto", sans-serif !important;
    color: #3D4852;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif !important;
    color: #22292F;
    font-weight: normal;
}

h1 {
    margin: 0 0 40px 0;
}

h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    padding-top: 40px;
    border-top: 1px solid #e5e3e9;
}

h3 {
    margin: 20px 0;
}

pre {
    margin: 20px 0;
}

b{
    color: #22292F;
}

/* Colors */
.colored.green {
    color: #20b5ac;
}

.colored.blue {
    color: #3490DC;
}

/* Button */
.btn-default {
    background-color: transparent;
    padding: 4px 8px;
    display: inline-block;
    text-transform: uppercase;
    width: auto;
    border: 1px solid #3490DC;
    color: #3490DC;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    background-color: transparent;
    color: #3490DC;
    border: 1px solid #3490DC;
}

/* Blockquote */
blockquote {
    font-size: 16px;
}

/* Input */
input.form-control {
    padding: 0;
    height: auto;
    border: 0;
    box-shadow: none;
}

input.form-control:focus {
    border: 0;
    box-shadow: none;
}

/* Alert */
.alert {
    margin: 20px 0;
    padding: 12px;
    border-radius: 4px;
    color: #3D4852;
}

.alert-info {
    background: #F1F5F8;
    border-color: #F1F5F8;
}

/* Label */
.label {
    border-radius: 4px;
}

/* Card */
.card {
    background: #fff;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card .card-cta {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.card .card-cta a {
    color: #20b5ac;
}

.card .card-cta a:hover {
    color: #20b5ac;
}

/* Tables */
table {
    word-break: break-word;
}

/* Layout*/
body > .container {
    padding-top: 30px;
}

.top-gap {
    margin-top: 40px;
}

.visible {
    display: block !important;
}

/* Content */

.content {
    line-height: 1.6;
    padding-bottom: 50px;
}

.content ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.content ul.simple li {
    padding-bottom: 5px;
}

.content ol {
    padding: 0 15px 0 15px;
}

.content ol li {
    margin-bottom: 15px;
}

.content ul li::before {
    content: "• ";
    color: rgb(32, 181, 172);
}

.content .headerlink {
    visibility: hidden !important;
}

.content .headerlink::before{
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
}

.content h1:hover .headerlink::before,
.content h2:hover .headerlink::before,
.content h3:hover .headerlink::before,
.content h4:hover .headerlink::before,
.content h5:hover .headerlink::before,
.content h6:hover .headerlink::before {
    visibility: visible;
}

/* Navbar */
.navbar-default {
    background-color: white;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    color: #3D4852;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #3D4852;
}

.navbar-default .navbar-right {
    padding-top: 14px;
    text-align: right;
}

.navbar-default .navbar-right ul {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-right ul li {
    padding: 0;
}

.navbar-default .navbar-right i {
    padding-right: 4px;
    color: #22292F;
}

.navbar-default .navbar-right a,
.navbar-default .navbar-right a:hover {
    color: #22292F;
    text-decoration: none;
    padding: 15px;
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-default .navbar-brand {
        font-size: 19px;
    }
}

#language select {
    background: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #3D4852;
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#language option {
    color: #3D4852;
    padding: 0 5px;
}

/* Sidebar */
.bs-sidenav {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    word-break: break-word;
    text-shadow: 0 0 0 #22292F;
    z-index: 9;
    list-style: none;
    font-size: 95%;
}

.bs-sidenav ul {
    padding: 0;
}

.bs-sidenav li {
    list-style: none;
}

.bs-sidenav ul > li > a {
    display: block;
    color: #22292F;
    padding: 5px 20px;
    text-decoration: none;
}

.bs-sidenav ul > li > a.current,
.bs-sidenav ul > li > a:hover {
    text-decoration: none;
    color: #3490DC;
}

.bs-sidenav ul ul > li > a {
    padding: 3px 20px;
}

.bs-sidenav ul ul ul > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bs-sidenav.affix-bottom,
.bs-sidenav.affix {
    top: 20px;
    width: initial;
}

.bs-sidenav a:hover,
.bs-sidenav a:focus {
    background-color: transparent;
    border: 0;
}

#sidebar {
    top: 0;
}

#sidebar .toctree-l1 > a {
    padding-left: 0;
    padding-bottom: 5px;
    margin: 0;
}

#sidebar .toctree-l3,
#sidebar .toctree-l2,
#sidebar ul.unstyled {
    display: none;
}

#sidebar .sidebar-xs .caption-text {
    font-weight: bold;
    padding-left: 10px;
}

#sidebar .dropdown {
    list-style: none;
    margin-bottom: 20px;
}

#sidebar .dropdown a {
    padding-left: 10px;
}

#sidebar .dropdown a:hover{
    background-color: transparent;
}

#sidebar .caption {
    padding: 10px 30px 5px 0;
    margin: 0;
}

#sidebar .caption-text {
    font-weight: bold;
}

#sidebar .version {
    margin-top: 10px;
}

.bs-sidenav.secondary {
    border-left: 1px solid #e5e3e9;
    position: fixed;
    width: inherit;
    padding: 0;
    display: none;
}

.bs-sidenav.secondary .nav-header {
    display: none;
}

.bs-sidenav.secondary .title{
    font-weight: bold;
    padding: 3px 20px;
}

@media screen and (min-width: 992px) {
    #sidebar {
        width: 230px;
    }
}

@media screen and (min-width: 1200px) {

    #sidebar {
        width: 250px;
    }

    #sidebar .sidebar-md {
        max-height: 100vh;
        overflow-y: auto;
    }

    .bs-sidenav.secondary {
        width: 210px;
        display: block;
    }
}

/* Figure */
.figure {
    padding-top: 10px;

}

.figure .caption {
    margin-top: 10px;
    margin-bottom: 10px;

}

/* Tabs */
.docutils.literal{
    background-color: #F1F5F8;
    color: #20b5ac;
}

.sphinx-tabs {
    margin: 20px 0;
    padding: 0;
    max-width: 100%;
}

.sphinx-tabs .ui.sphinx-menu,
.sphinx-tabs .ui.segment {
    font-size: 16px;
}

.sphinx-tabs .tabular.menu .item {
    max-width: 100%;
    margin: 0;
    width: auto;
}

.sphinx-tabs .tabular.menu .item .container{
    width: auto;
}

.sphinx-tabs .sphinx-menu {
    padding: 0;
}

.highlight > pre {
    background-color: #F1F5F8;
    border-radius: 4px;
    padding: 8px 12px;
    border: 0;
}

.example-code {
    padding: 0;
    max-width: 100%;
    display: none;
}

.example-selector {
    background-color: #fff;
    padding: 5px 0 !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.example-selector li::before {
    content: " " !important;
}

.example-selector > li {
    color: #3D4852;
    background-color: transparent !important;
    float: none !important;
    display: inline-block !important;
    font-weight: normal !important;
    margin: 0 5px 0 0;
}

.example-selector > li.selected {
    background-color: transparent !important;
    color: #22292F !important;
}

.example-code .code-block-caption {
    top: -28px;
    right: 5px;
    position: relative;
    text-align: right;
    height: 0;
    padding: 0 5px;
}

.literal-block-wrapper {
    padding: 0 !important;
}

.code-block-caption .headerlink {
    display: none;
}

@media screen and (max-width: 992px) {
    .ui.tabular.menu .item {
        padding: 0;
    }
}

/* Mermaid */
.mermaid svg {
    max-width: 100% !important;
    overflow: visible;
}

.mermaid .edgeLabel{
    font-weight:  normal;
    background-color: #fff;
}

.mermaid .note{
    stroke: #3D4852;
    fill: #F1F5F8;
}

.mermaid .actor,
.mermaid .node rect{
    stroke: #3D4852;
    fill: #fff;
}

.mermaid text.actor tspan{
    fill: #3D4852;
}

/* Search box */
#search-box {
    padding: 5px 0;
}

#search-box .search-box-input {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#search-box .search-box-input .algolia-autocomplete {
    width: 100%;
}

#search-box .search-box-input .algolia-autocomplete .ds-dropdown-menu{
    min-width: 100px;
    width: 100%;
}

#search-box .search-box-input .algolia-autocomplete input,
#search-box .search-box-input #search {
    width: 100%;
    padding: 0 10px;
    height: 45px;
    border: 0;
    border-radius: 2px;
    outline: none;
    background-color: #F1F5F8;
}

#search-box .search-box-input .algolia-autocomplete input:focus {
    border: 1px solid #3490DC;
    transition: 0.4s ease;
}

#search-box .search-box-input .algolia-autocomplete input:focus::-webkit-input-placeholder {
    transition: opacity 0.4s ease;
    opacity: 0;
}

#search-box .search-box-input .algolia-autocomplete input:focus::-moz-placeholder {
    transition: opacity 0.4s ease;
    opacity: 0;
}

#search-box .search-box-input i {
    position: relative;
    float: right;
    top: -30px;
    height: 0;
    right: 10px;
    color: #22292F;
}

@media screen and (min-width: 768px) {
    #search-box {
        padding: 0;
    }
}

/* Footer */
footer {
    color: rgba(255, 255, 255, 0.6);
    background-color: #272030;
    padding: 20px 20px 0 20px !important;
    z-index: 10;
    position: relative;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none !important;
}

footer h4 {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
}

/* Guides */
.postlist li {
    text-indent: 0 !important;
}

.postlist li p:nth-child(1) a {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.postlist li p:nth-child(2) a {
    color: #22292F;
}

ul.postlist-style-circle {
    list-style-type: none !important;
}

ul.postlist-style-circle .first {
    display: inline;
}


/* Print rules */
@media print {
    .bs-sidenav, footer {
        display: none !important;
    }
}
