/* General */
html {
    overflow-x: hidden;
    height: 100%;
}
body {
    padding-top: 0;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif !important;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif !important;
    color: #333;
    font-weight: 700;
}
h1 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #5200c6;
}
h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    color: #44004e;
}
h3 {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}
a, a:hover {
    color: #00c8ff;
}
pre {
    margin: 5px 0 10px 0;
}
b {
    color: #44004E;
}
/* Colors */
.gradient {
    background: rgb(82, 0, 198);
    background: -moz-linear-gradient(135deg, rgba(82, 0, 198, 1) 0%, rgba(68, 0, 78, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(82, 0, 198, 1) 0%, rgba(68, 0, 78, 1) 100%);
    background: linear-gradient(135deg, rgba(82, 0, 198, 1) 0%, rgba(68, 0, 78, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5200c6", endColorstr="#44004e", GradientType=1);
    color: #FFF;
}
/* Button */
.btn-default {
    background-color: transparent;
    padding: 4px 8px;
    display: inline-block;
    text-transform: uppercase;
    width: auto;
    border-radius: 4px;
    border: 1px solid #5200c6 !important;
    color: #5200c6;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus {
    background-color: transparent;
    color: #5200c6;
    border: 1px solid #5200c6;
}
/* Blockquote */
blockquote {
    font-size: 16px;
}
/* Input */
input.form-control {
    padding: 0;
    height: auto;
    border: 0;
    box-shadow: none;
}
input.form-control:focus {
    border: 0;
    box-shadow: none;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1;
    /* Firefox */
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}
/* Alert */
.alert {
    margin: 20px 0;
    padding: 5px 1.5rem !important;
    background: #F5F5F5;
    color: #333;
    border-left: 6px solid #00c8ff;
    border-radius: 0px 4px 4px 0px;
}
/* Label */
.label {
    border-radius: 4px;
}
/* Tables */
table {
    word-break: break-word;
}

table a:not(.btn), .table a:not(.btn){
    text-decoration: none;
}
/* Layout*/
body > .container {
    padding-top: 20px;
}
@media screen and (min-width: 768px) {
    body > .container {
        padding: 20px 0;
    }
}
.visible {
    display: block !important;
}
/* Content */
.content {
    line-height: 1.85;
    padding-bottom: 50px;
}
.content a {
    color: #5200c6;
}
.content ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.content ul.simple li {
    padding-bottom: 5px;
}
.content ol {
    padding: 0 15px 0 15px;
}
.content ol li {
    margin-bottom: 15px;
}
.content ul li::before {
    content: "• ";
}
.content .headerlink {
    visibility: hidden !important;
    color: #00c8ff;
}
.content .headerlink::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}
.content h1:hover .headerlink::before,
.content h2:hover .headerlink::before,
.content h3:hover .headerlink::before,
.content h4:hover .headerlink::before,
.content h5:hover .headerlink::before,
.content h6:hover .headerlink::before {
    visibility: visible;
}
.feedback {
    margin-top: 40px;
}
/* Navbar */
.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    position: relative;
}
.navbar-default a, .navbar-default a:hover {
    color: #FFF;
    text-decoration: none;
}
.navbar-default .navbar-top {
    padding: 10px 0;
}
.navbar-default hr {
    margin: 0 !important;
}
.navbar-default .navbar-brand {
    margin: 10px 0;
    padding: 5px;
}
.navbar-default .navbar-right {
    margin-top: 25px;
}
.navbar-default .navbar-right .active {
    font-weight: bold;
}
.navbar-default::after{
    content: "";
    background: url(../images/mesh.jpg) center left;
    background-size: cover;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#language .select {
    overflow: hidden;
    width: 50px;
    position: relative;
    display: block;
}
#language select {
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
#language .select::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #FFF;
    position: absolute;
    right: 14px;
    top: 4px;
    font-size: 12px;
}
#language option {
    color: #333;
    padding: 0 5px;
}
#social li {
    float: right;
    padding: 0 8px;
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    .navbar-default .navbar-brand {
        padding: 0;
    }
}
/* Sidebar */
.bs-sidenav {
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 0;
    word-break: break-word;
    text-shadow: none;
    z-index: 9;
    list-style: none;
    font-size: 95%;
}
.bs-sidenav ul {
    padding: 0;
}
.bs-sidenav li {
    list-style: none;
}
.bs-sidenav ul > li > a {
    display: block;
    color: #333;
    padding: 5px 20px;
    text-decoration: none;
}
.bs-sidenav ul > li > a.current, .bs-sidenav ul > li > a:hover {
    text-decoration: none;
    color: #5200c6;
}
.bs-sidenav ul ul > li > a {
    padding: 3px 20px;
}
.bs-sidenav ul ul ul > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bs-sidenav.affix-bottom, .bs-sidenav.affix {
    width: initial;
}
.bs-sidenav a:hover, .bs-sidenav a:focus {
    background-color: transparent;
    border: 0;
}
#sidebar .toctree-l1 > a {
    padding-left: 0;
    padding-bottom: 5px;
    margin: 0;
}
#sidebar .toctree-l3, #sidebar .toctree-l2, #sidebar ul.unstyled {
    display: none;
}
#sidebar .caption, .sidebar-xs .caption {
    padding: 10px 30px 5px 0;
    margin: 0;
}
#sidebar .caption-text, .sidebar-xs .caption-text {
    font-weight: bold;
    color: #333;
}
.sidebar-xs .caption-text {
    padding-left: 10px;
}
.sidebar-xs .dropdown {
    list-style: none;
    padding: 10px 0;
}
.sidebar-xs .dropdown-menu {
    width: 100%;
    min-width: 0;
    border: 0;
}
.sidebar-xs .dropdown-menu > li > a {
    white-space: normal;
}
.sidebar-xs .dropdown a {
    padding-left: 10px;
}
.sidebar-xs .dropdown a:hover {
    background-color: transparent;
    color: #5200c6;
}
.sidebar-xs a.dropdown-toggle:hover {
    color: #fff;
}
.caret {
    color: #fff;
}
#sidebar .version {
    margin-top: 10px;
}
.bs-sidenav.secondary {
    border-left: 1px solid #e5e3e9;
    width: inherit;
    padding: 0;
    display: none;
}
.bs-sidenav.secondary .nav-header {
    display: none;
}
.bs-sidenav.secondary .title {
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}
.bs-sidenav.secondary .edit-github {
    padding: 10px 20px;
}
.bs-sidenav.secondary .edit-github a {
    color: #333;
}
@media screen and (min-width: 992px) {
    #sidebar {
        width: 230px;
    }
}
@media screen and (min-width: 1200px) {
    #sidebar {
        width: 250px;
    }
    #sidebar .sidebar-md {
        max-height: 100vh;
        overflow-y: auto;
    }
    .bs-sidenav.secondary {
        width: 210px;
        display: block;
    }
}
/* Figure */
div.figure {
    margin-top: 20px;
}
div.figure .caption {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Tabs */
.docutils.literal {
    background-color: #F5F5F5;
    color: #44004E;
    border-radius: 4px;
}
.sphinx-tabs {
    margin: 20px 0;
    padding: 0;
    max-width: 100%;
}
.sphinx-tabs .ui.sphinx-menu, .sphinx-tabs .ui.segment {
    font-size: 16px;
}
.sphinx-tabs .tabular.menu .item {
    max-width: 100%;
    margin: 0;
    width: auto;
}
.sphinx-tabs .tabular.menu .item .container {
    width: auto;
}
.sphinx-tabs .sphinx-menu {
    padding: 0;
}
.sphinx-tabs .sphinx-menu a.item {
    color: #00c8ff !important;
}
.sphinx-tabs .sphinx-menu a.active.item, .sphinx-tab {
    border-color: #00c8ff !important;
}
.highlight > pre {
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    padding: 12px;
    border: 0;
}
.example-code {
    padding: 0;
    max-width: 100%;
    display: none;
    margin-top: 20px;
}
.example-code pre {
    margin-top: 0;
}
.example-selector {
    background-color: #fff;
    padding: 5px 0 !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}
.example-selector li::before {
    content: " " !important;
}
.example-selector > li {
    color: #44004E !important;
    background-color: transparent !important;
    float: none !important;
    display: inline-block !important;
    font-weight: normal !important;
    margin: 0 5px 0 0;
}
.example-selector > li.selected {
    background-color: transparent !important;
    color: #5200c6 !important;
}
.example-code .code-block-caption {
    top: -28px;
    right: 5px;
    position: relative;
    text-align: right;
    height: 0;
    padding: 0 5px;
}
.code-block-caption a {
    color: #00c8ff;
    font-weight: bold;
}
.literal-block-wrapper {
    padding: 0 !important;
}
.code-block-caption .headerlink {
    display: none;
}
@media screen and (max-width: 992px) {
    .ui.tabular.menu .item {
        padding: 0;
    }
}
/* Math */
.math {
    margin: 20px 0;
}
/* Mermaid */
.mermaid svg {
    max-width: 100% !important;
    overflow: visible;
}
.mermaid .edgeLabel {
    font-weight: normal;
    background-color: #fff;
}

.mermaid .note,
.mermaid  rect,
.mermaid .actor{
    stroke: #ff00ff !important;
    fill: #fff !important;
}
.mermaid line,
.mermaid .path,
.mermaid .messageLine0{
    stroke: #ff00ff !important;
}
.mermaid text.actor tspan {
    fill: #333;
    stroke: none;
}
/* Search box */
#search-box {
    width: 100%;
    float: left;
    display: block;
}
#search-box .algolia-autocomplete {
    width: 100%;
}
#search-box .algolia-autocomplete input, #search-box .search {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
}
#search-box .algolia-autocomplete input:focus {
    transition: 0.4s ease;
}
#search-box .algolia-autocomplete input:focus::-webkit-input-placeholder {
    transition: opacity 0.4s ease;
    opacity: 0;
}
#search-box .algolia-autocomplete input:focus::-moz-placeholder {
    transition: opacity 0.4s ease;
    opacity: 0;
}
#search-box .algolia-autocomplete .ds-dropdown-menu{
    min-width: 100px;
    width: 200%;
}
#search-box .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-]{
    border: none;
}
@media screen and (min-width: 768px) {
    #search-box {
        width: 70%;
    }
}
/* Guides */
.postlist li {
    text-indent: 0 !important;
}
.postlist li p:nth-child(1) a {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}
.postlist li p:nth-child(2) a {
    color: #22292F;
}
ul.postlist-style-circle {
    list-style-type: none !important;
}
ul.postlist-style-circle .first {
    display: inline;
}
/* Print rules */
@media print {
    .bs-sidenav, footer {
        display: none !important;
    }
}
